/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body, nav, div, h1, h2, ul, li, a, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

input[type=text], input[type=password], textarea {
  border: 0;
  font-size: 10pt;
}

button {
  border: 0;
}

button:focus, input:focus, textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  background: rgb(223,232,224);
}

a {
  color: blue;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

div.static {
  position: relative;
  z-index: 400;
  padding-top: 45px;
}

div#errors {
  width: 830px;
  margin-left: 60px;
  color: red;
}

div#user-show {
  width: 850px;
  height: 322px;
  margin-left: 50px;
}

div#user-show div.add-friend {
  width: 815px;
  padding: 10px;
  border: 1px solid lightgrey;
  margin: 7px;
  background: white;
  border-radius: 4px;
}

div.shadow {
  position: fixed;
  background: black;
  opacity: 0.8;
  height: 100vh;
  width: 100vw;
  z-index: 4002;
}

div.picture-modal-centering-outer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: rgba(0,0,0,0);
  z-index: 4001;

  div.picture-modal-centering-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0);
    z-index: 4003;
  }
}

div.picture-modal {
  background: black;
  position: relative;
  height: 80vh;
  width: 90vw;
  min-width: 880px;
  min-height: 520px;
  overflow: hidden;

  div.picture-box-box {
    position: absolute;
    height: 100%;
    right: 360px;
    left: 0;
    overflow: hidden;

    img.picture-box {
      float: left;
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  div.post-box {
    width: 360px;
    height: 100%;
    background: white;
    float: right;

    div.show-post {
      width: 360px;
      top: 0;
      bottom: 0;
      position: absolute;
      overflow: hidden;

      li.post {
        width: 360px;
        height: 100%;
        float: right;
        border: 1px solid lightgrey;
        background: white;
        overflow-y: scroll;
        overflow-x: hidden;

        img.post-pic {
          width: 470px;
          height: auto;
          margin-left: 10px;
          margin-bottom: 5px;
        }

        div.small-profile-pic {
          width: 40px;
          height: 40px;
          background-size: cover;
          float: left;
          margin: 10px;
        }

        div.name {
          margin: 13px 0 3px 0;
        }

        div.time {
          font-size: 12px;
          color: rgb(162,162,162);
        }

        div.description {
          clear: both;
          margin: 10px 0 10px 10px;
        }

        div.options {
          padding: 0 10px 10px 10px;
          border-bottom: 1px solid lightgrey;
        }

        div.comments-wrapper {
          background: rgb(240,241,242);
          border-radius: 4px;
          bottom: 0;
        }

        div.likes {
          padding: 10px 0 10px 0;
          margin: 0 10px 0 10px;
          font-size: 14px;
          border-bottom: 1px solid lightgrey;
        }

        li.comment {
          margin-bottom: 5px;
          font-size: 14px;
          clear: both;

          div.small-profile-pic {
            width: 32px;
            height: 32px;
            background-size: cover;
            float: left;
            margin: 10px;
          }

          div.comment-container {
            float: right;
            width: 290px;
          }

          div.content {
            padding: 10px 0 3px 0;
            margin: 0;
            line-height: 125%;
          }

          div.time {
            font-size: 12px;
            color: rgb(162,162,162);
          }
        }

        li.comment-form {
          font-size: 14px;
          clear: both;

          div.small-profile-pic {
            width: 32px;
            height: 32px;
            background-size: cover;
            float: left;
            margin: 10px;
          }

          form#new-comment {
            padding-bottom: 10px;
            border-radius: 0 0 4px 4px;
          }

          form#new-comment input#comment {
            float: right;
            width: 275px;
            border: 1px solid lightgrey;
            padding: 7px 3px 7px 0px;
            font-size: 14px;
            margin: 10px 10px 0 0;
          }
        }
      }
    }
  }
}
