/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body, nav, div, h1, h2, ul, li, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

input[type=text], textarea {
  border: 0;
  font-size: 10pt;
}

button:focus, input:focus, textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  background: rgb(233,234,237);
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

div.user-profile-top {
  border: 1px solid lightgrey;
  margin-left: 7px;
  background: white;
  border-radius: 4px;
  height: 320px;
  width: 835px;
}

div.user-profile-top div.profile-pic {
  position: absolute;
  top: 185px;
  left: 75px;
  height: 150px;
  width: 150px;
  border: 8px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 3pt 2pt grey;
  background-size: cover;
}

div.user-profile-top div.cover-pic {
  position: absolute;
  top: 45px;
  left: 57px;
  height: 280px;
  width: 837px;
  background-size: cover;
}

div.user-profile-top h1 {
  position: absolute;
  top: 285px;
  left: 258px;
  font-size: 25px;
}

div.user-profile-top form.upload-profile-pic {
  position: absolute;
  bottom: 0;

}

div#user-show li.post.notify-post {
  box-shadow: 0 0 2em rgb(0,255,182);
}

div#errors {
  width: 830px;
  margin-left: 60px;
  color: red;
}

div#user-show {
  width: 850px;
  margin-left: 50px;
}

div#user-show div#left-side {
  width: 320px;
  float: left;
}

div#user-show div#left-side h2 {
  background: rgb(246,247,248);
  padding: 10px;
  border-radius: 4px 4px 0 0;
}

div#user-show div#left-side ul {
  width: 300px;
  padding: 10px 0 10px 10px;
}

div#user-show div#left-side ul li {
  border-top: 1px solid grey;
  padding: 4px;
}

div#user-show div#left-side ul li:first-child {
  border-top: 0;
  padding-top: 0;
}

div#user-show div#left-side ul li:last-child {
  padding-bottom: 0;
}

div#user-show div#right-side {
  width: 470px;
  float: right;
}

form#new-post input.submit {
  float: right;
  border-radius: 4px;
}

div#user-show li.post {
  width: 470px;
  float: right;
  padding: 10px;
  border: 1px solid lightgrey;
  margin: 7px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 2em rgb(233,234,237);
  transition: box-shadow 0.5s;
}

div#user-show li.post li.comment {
  background: lightgrey;
  padding: 3px;
  border-top: 1px solid grey;
}

div#user-show form#new-post {
  width: 470px;
  float: right;
  padding: 10px;
  border: 1px solid lightgrey;
  margin: 7px;
  background: white;
  border-radius: 4px;
}

div#user-show div.info {
  width: 320px;
  float: left;
  border: 1px solid lightgrey;
  margin: 7px;
  background: white;
  border-radius: 4px;
}

div#user-show div.add-friend {
  width: 815px;
  padding: 10px;
  border: 1px solid lightgrey;
  margin: 7px;
  background: white;
  border-radius: 4px;
}

div#user-show form#new-post textarea {
  width: 464px;
}

div#user-show form#new-comment input#comment {
  width: 464px;
}