div#chat-window {
	float: right;
	width: 200px;
	height: 100vh;
	background: white;
	position: fixed;
	right: 0;
	margin: 80px 10px 0 0;
	z-index: 1500;
	border-right: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	border-top: 1px solid lightgrey;
	border-radius: 5px;

	&.chat-hide {
		height: 31px;
		bottom: 0;
	}

	p {
		padding: 6px;
		border-bottom: 1px solid lightgrey;
		background: rgb(45,255,143);
		border-radius: 5px 5px 0 0;

		&:hover {
			cursor: pointer;
		}
	}

	ul {
		li {
			padding: 3px 5px 3px 5px;
			height: 100%;

			div.small-profile-pic {
				height: 32px;
				width: 32px;
				float: left;
				background-size: cover;
			}

			div.name {
				margin: 8px 0 8px 40px;
				font-size: 14px
			}

			&:hover {
				background: rgb(220,240,220);
				cursor: pointer;
			}
		}
	}
}

@-webkit-keyframes flash {
	0% { background: rgb(85,255,173); }
	50% { background: rgb(85,255,173); }
	51% { background: rgb(85,255,223); }
	100% { background: rgb(85,255,223); }
}

@-moz-keyframes flash {
	0% { background: rgb(85,255,173); }
	50% { background: rgb(85,255,173); }
	51% { background: rgb(85,255,223); }
	100% { background: rgb(85,255,223); }
}

@-o-keyframes flash {
	0% { background: rgb(85,255,173); }
	50% { background: rgb(85,255,173); }
	51% { background: rgb(85,255,223); }
	100% { background: rgb(85,255,223); }
}

@keyframes flash {
	0% { background: rgb(85,255,173); }
	50% { background: rgb(85,255,173); }
	51% { background: rgb(85,255,223); }
	100% { background: rgb(85,255,223); }
}

div#chat-boxes {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1300;

	p {
		padding: 6px;
		border-bottom: 1px solid lightgrey;
		background: rgb(85,255,173);
		border-radius: 5px 5px 0 0;

		&.flashing:first-child {
			-webkit-animation: flash 1.5s infinite;
			-moz-animation: flash 1.5s infinite;
			-o-animation: flash 1.5s infinite;
			animation: flash 1.5s infinite;
		}

		&:hover {
			cursor: pointer;
		}
	}

	div.dummy-chat-box {
		position: relative;
		float: right;
		width: 200px;
		height: 1px;
		background: transparent;
		margin-right: 10px;
	}

	div.chat-box {
		position: relative;
		float: right;
		width: 225px;
		height: 275px;
		background: rgb(243,244,247);
		border-radius: 5px 5px 0 0;
		border-right: 1px solid lightgrey;
		border-left: 1px solid lightgrey;
		border-top: 1px solid lightgrey;
		box-shadow: 0 0 0.4em grey;
		margin-right: 10px;
		font-size: 14px;

		&.chat-hide {
			height: 29px;
			bottom: 0;
			margin-top: 246px;
		}

		button.delete {
			position: absolute;
			top: 0;
			right: 0;
			padding: 0;
			border: 0;
			font-size: 20px;
			background: transparent;
			margin: 5px 5px 0 0;

			&:hover {
				color: white;
			}
		}

		ul.message-display {
			height: 214px;
			overflow-y: scroll;
			overflow-x: hidden;

			li {
				width: 200px;
				min-height: 32px;
				position: relative;

				div.small-profile-pic {
					width: 28px;
					height: 28px;
					margin: 2px 2px 2px 5px;
					background-size: cover;
					float: left;
					border-radius: 4px
				}

				div.right-arrow {
					width: 0;
					height: 0;
					border-top: 6px solid transparent;
					border-bottom: 6px solid transparent;
					border-left: 6px solid lightblue;
					position: absolute;
					right: -5px;
					top: 9px;
				}

				div.left-arrow {
					width: 0;
					height: 0;
					border-top: 6px solid transparent;
					border-bottom: 6px solid transparent;
					border-right: 6px solid blue;
					position: absolute;
					left: 36px;
					top: 9px;
				}

				p.you {
					float: left;
					padding: 3px;
					background: white;
					border: 1px solid lightgrey;
					border-radius: 4px;
					margin: 3px 0 3px 6px;
					word-wrap: break-word;
					max-width: 150px;
				}

				p.me {
					float: right;
					padding: 3px;
					background: lightblue;
					border: 1px solid lightgrey;
					border-radius: 4px;
					margin: 3px 0 3px 3px;
					word-wrap: break-word;
				}

				div.clear {
					clear: both;
				}
			}
		}

		input {
			padding: 6px 0 6px 3px;
			border-top: 1px solid lightgrey;
			background: white;
			width: 222px;
		}
	}
}
