section.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}

nav {
  background: rgb(45,255,143);
  height: 45px;
  position: relative;

  div.logo {
  	width: 27px;
  	height: 30px;
  	margin: 8px 12px 12px 60px;
  	padding: 0;
  	background-image: asset-url("LLC-logo.png");
    background-size: cover;
    position: absolute;
    top: 0;
  }

  div.right-nav {
	  position: absolute;
    left: 500px;
	  margin-left: 250px;
	  margin-top: 9px;
    width: 200px;

    a {
      float: left;
      margin-right: 5px;
      margin-top: 3px;
    }

    button#notifications {
      float: left;
      background: rgb(0,169,237);
      border: 0;
      height: 25px;
      width: 25px;
      border-radius: 30px;

      &.clicked {
        background: rgb(0,199,255);
      }
    }
  }

  div.search-bar {
	  position: absolute;
    left: 100px;
	  margin: 11px 12px 12px 0;
    width: 500px;

    ul.search-results {
      width: 378px;
      background: white;

      div.small-profile-pic {
        width: 50px;
        height: 50px;
        background-size: cover;
        float: left;
      }

      li {
        padding: 5px;
        height: 50px;
        border-right: 1px solid lightgrey;
        border-left: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        position: relative;

        &:first-child {
          border-top: 1px solid lightgrey;
          margin-top: 11px;
        }

        a {
          position: absolute;
          top: 0;
          left: 0;
          width: 378px;
          height: 100%;
          display: block;

          div.name {
            margin: 5px 5px 0 65px;
          }
        }

        &:hover {
          background: rgb(220,240,220);
        }
      }
    }

    input {
      padding-left: 8px;
      height: 21px;
      width: 350px;
      border-radius: 5px 0 0 5px;
      border: 0;
    }

    div.container {
      background-color: white;
      position: absolute;
      left: 354px;
      top: 0;
      padding: 3px 3px 1px 3px;
      border-radius: 0 5px 5px 0;
    }

    button {
      background-image: image-url("search.png");
      background-size: cover;
      height: 18px;
      width: 18px;
      border: 0;
      background-color: white;
    }
  }
}
