<h2>Photos</h2>
<ul class="photos">
  <% var photos = user.get("photos") %>
  <% if (photos) { %>
    <% photos.forEach(function(photo){ %>
      <li>
        <div class="small-picture" style="background-image: url(<%= photo.url %>)"></div>
      </li>
    <% }); %>
  <% } %>
</ul>
